_site
.bundle
.DS_store
.DS_Store
*.aux
*.log
/main.pdf
/main.tex
/references/
/rendered/
.idea
.jekyll-cache
.jekyll-metadata
.jekyll-server.log
.jekyll-server.pid
.ruby-version
.sass-cache
.tweet-cache
.venv
assets/libs/
assets/rendercv/rendercv_output/
assets/rendercv/rendercv_output/*.typ
Gemfile.lock
node_modules/
vendor
